global
    daemon
    maxconn      20000
    log stdout format raw local0 info
    stats socket ipv4@127.0.0.1:9999 level admin
    stats socket /var/run/haproxy/admin.sock mode 666 level admin

defaults
    mode         http
    timeout      connect 5s
    timeout      client  30s
    timeout      server  30s
    option       redispatch
    log global
    option httplog

frontend gateway
    bind *:80
    http-request set-var(txn.node) req.hdr(X-Node-Name)
    use_backend %[var(txn.node),map_str(/usr/local/etc/haproxy/node-master.map,master1)]

backend master1
    server master1 master1:3001 check maxconn 1000 maxqueue 500

backend master2
    server master2 master2:3002 check maxconn 1000 maxqueue 500

listen stats
    bind *:8081
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:admin
